h1, .h1 {
	font-size: 24pt;
    color:crimson;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
}

h2, .h2 {font-size: 18pt;
	color: #2a7bbd;
      	text-decoration: underline;
}

h3, .h3 {font-size: 16pt;
	color: #138D75;
      	text-decoration: underline;
}

h4, .h4 {font-size: 14pt;
	color: #9b59b6;
}


table.dataframe td, table.dataframe th {
        border-style: solid;
    }

/*.rendered_html ol { list-style:decimal;  margin: 1em 1em;}*/
.rendered_html ol ol {list-style:lower-alpha; margin:  0em  0em;  }


/* classe pour inverse video */
.reverse{
    background-color: black;
    color: white;
}


/*
.rendered_html code {
    background: SteelBlue ;
    color: white}
    */
 /* Réduire les marge à droite et à gauche */
div#notebook-container    { width: 95%; }
/*div#menubar-container     { width: 65%; }*/
div#maintoolbar-container { width: 99%; }
